body {
    /*background-image: url(../img/fondo.jpg);*/
    background-color: #EDF2F7;
    margin: auto;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-position-y: 90px;
}

header {
    background-color: red;
    /*background-color: red;*/
    width: 100%;
    height: 90px;
    display: flex;

}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

nav>ul {
    margin-right: 30px;
}

nav>ul>li {
    display: inline;
    margin-left: 5px;
}

nav>ul>li>a,
.textencabezado>li>a {
    padding: 7px;
    color: black;
    text-decoration: none;
}

.textencabezado {
    height: 90px;
    width: 90%;
    margin-left: 40px;
    align-items: center;
    text-align: center;
    display: flex;
}

h3 {
    color: white;
}

#logo {
    width: 90px;
    height: 90px;
}

.divlogo {
    width: 5%;
    height: 90px;
    display: flex;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

/* Los enlaces del menú de navegación */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* Cuando pase el mouse sobre los enlaces de navegación, cambie su color */
.sidenav a:hover,
.offcanvas a:focus {
    color: #f1f1f1;
}

/* Posiciona y aplica estilo al botón de cerrar (esquina superior derecha) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Estilo del contenido de la página: use esto si desea empujar el contenido de 
la página hacia la derecha cuando abre la navegación lateral 

JAIDER AQUI NO FUNCIONA POR QUE ESTA CONFIGURADO COMO SI SALIERA DE LA IZQUIERDA NO DE AL DERECHA
ES PS SOLO CAMBIAR EL LADO PERO NO SE NO LO VEO NECESARIO*/
#main {
    transition: margin-left .5s;
    padding: 20px;
    overflow: hidden;
    width: 100%;
}



/* Agrega un color de fondo ROJO a la navegación superior */
.topnav {
    background-color: red;
    overflow: hidden;
    width: 90px;
    height: 90px;
    align-items: center;
}

/* Dale estilo a los enlaces dentro de la barra de navegación */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
    font-size: 17px;
}

/* Cambiar el color de los enlaces al pasar el mouse */
.topnav a:hover {
    background-color: #ddd;
    color: black;
    padding: auto;
    align-self: center;
}

/* Agrega un color al enlace activo/actual */


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

a svg {
    transition: all .5s ease;

    &:hover {
        transform: rotate(180deg);
    }
}

#ico {
    display: none;
}

.menu {
    background: #000;
    display: none;
    padding: 5px;
    width: 320px;
    border-radius: 5px;
    /*#transition: all 0.5s ease;*/
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-input,
.combo-box {
  padding: 10px;
  margin-bottom: 10px;
  width: 500px;
}

.asunto-input{
    height: 50px; 
    width: 500px;
    resize: vertical;
}

.text-input {
  height: 150px; 
  resize: vertical;
}

label {
    margin-bottom: 5px;
    color: #a71c1c;
}

#btn {
    margin-top: 12px;
    padding: 10px 20px;
    background-color: red;
    border-radius: 10px;
    color: #fff;
    border: none;
    cursor: pointer;
}