*{
  margin: 0;  
}

/*Head*/
#Header{
    width: 100vw;
    height: 10vh;
    
}
#Nav{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: maroon;
    
    
}
    #Div1{
        display: flex;
        width: 50%;
        height: 100%;
        background-image: url(../IMG/);
       /* outline:  1px solid maroon;
        */
    
    
    }
        #Div_Logo{
            width: 15%;
            height: 100%;
            background-color: white;
            background-image: url(/IMG/UFPS_.png);
            background-repeat: no-repeat;
            background-size: 70%;
            background-position: center;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            
            
            
           
        }
        #Div_Name{
            width: 60%;
            height: 100%;
            color: white;
            padding-left: 2%;
            font-size: calc(1vh + 1vw);

        }
    #Div2{
        display: flex;
        width: 50%;
        height: 100%;
        
        
        
    }
        #Div2 div{
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            
           
            
        }
        #Div2 a{
            display: flex;
            width: 25%;
            height: 100%;
            align-items: center;
            justify-content: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-decoration: none;
            cursor: pointer;
            color: white;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            font-size: calc(1vh + 1vw);
            margin-right: 2px;
            margin-left: 2px;
            
        }
        #Div2 a:hover{
            color: maroon;
            background-color: white;
        }
        /*fin head*/
/*main*/

#Main{
    position: relative;
    display: flex;
    overflow: hidden;
    height: max-content;

    height: 90vh;
    width: 100vw;
    
   
}
    #Main ::after{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 40%;
    background-image: url(/IMG/fondoescritorio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;


}
    #aside{
        height: 0;
        width: 0;
        background-color: maroon;
        border-top-left-radius: 10px;
        
    }

        #a-div1{
            margin-top: 5px;
            height: 10%;
            width: 100%;
            display: flex;
            background-color: white;
            border-top-left-radius: 20px;

        }
            #a-img{
                height: 100%;
                width: 30%;
                background-image: url(/IMG/blank-profile-picture-gb7165ed53_1280.png);
                background-repeat: none;
                background-size: cover;
                border-radius: 15px;
                padding-right: 10px;

                
            }
                
            #a-info{
                height: 100%;
                width: 70%;
                
                
            }
                .div-info{
                    height: 50%;
                    width: auto;
                    font-size: calc(70%);
                    
                }
        #btns{
            height: 90%;
            width: 100%;
            display: block;
        }
                .btn-menu{
                    margin-top: 5vh;
                    width: 100%;
                    height: 11%;
                    cursor: pointer;
                }

                @keyframes miAnimacion {
                    from{
                        
                        width: 0%;
                        height: 0%;
                      }
                      to{
                        
                        width: 20vw;
                        height: 100vh;
                    
                      }
                    }
                  .animacion {
                    animation: miAnimacion 1s forwards;
                  }
                  @keyframes miAnimacion2 {
                    from{
                        
                        width: 20vw;
                        height: 100vh;
                      }
                      to{
                        
                        width: 0%;
                        height: 0%;
                    
                      }
                    }
                  .animacionOff {
                    animation: miAnimacion2 1s forwards;
                  }
                  #aside button{
                    background-color: brown;
                    border: none;
                    border-radius: 10px;

                  }


    #Section1{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        grid-auto-rows: minmax(100px, auto);
        width: 80%;
        height: 90%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 5%;
        margin-bottom: 5%;
        
    }
    #Section1 div {
        
        border-radius: 10px;
        cursor: pointer;
        
    }
    .img{
        border: 1px solid black;
        width: 100%;
        height: 80%;
        background-color: white;
    }
        #Docentes{
            background-image: url(/IMG/businessman-in-a-presentation-pointing-a-board-with-graphics.png);
            background-size: cover;
        }

        #Instalaciones{
            background-image: url(/IMG/universidad.png);
            background-size: cover;
        }
        #Materias{
            background-image: url(/IMG/estudiante.png);
            background-size: auto;
            
        }
        #Equipos{
            background-image: url(/IMG/semillero.png);
            background-size: cover;
        }




    .desc{
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: calc(30vh+30vw);
        color: white;
        background-color: maroon;
    }
        


/* Login */


